
<html>
    <head>
      <title>E-SCHOOL</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
      <div class="navbar navbar-inverse navbar-static-top">
      
          <div class="container">
          <!--  <a class="navbar-brand" href="/">AZLAN IO</a> -->
          
            <ul class="nav navbar-nav">
    
            <!--SYSTEM-->
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/home">HOME</a></li>
            <li><a href="/visitor">VISITOR</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
            <li><a href="/template">TEMPLATE</a></li>
            <li><a href="/settings">SETTINGS</a></li>
            <li><a href="/sitemap">SITEMAP</a></li>
            <li><a href="/test">TEST</a></li>
          
            <!--STUDENT-->
            <li><a href="/registration">Registration</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/cockpit">Cockpit</a></li>
            <li><a href="/progress">Progress</a></li>
            <li><a href="/class">Class</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/storage">Storage</a></li>
            <li><a href="/messaging">Messsaging</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/social">Social</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/news">News</a></li>
    
            </ul>
          </div>
    
        <!--
        <div class="jumbotron"  style="padding:40px;">
          <h1>Hello World!</h1>
          <p>This is a control unit, a simple jumbotron-style component for calling attention to featured content or information.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    -->
      </div>
      
    </body>
    </html>