<link rel="stylesheet" href="css/about.css">

  <div class="wrapper">
    <div>
      <p class="datetime" id="datetime"></p>
    </div>
    <h1><h1 class="text" id="text"></h1>
</div>

<script src="js/about.js"></script>
