<div class="add-to-data">
    <h1>RETRIEVE DATA</h1>

    <input type="submit" value="Retrieve Database">
    <br>
    <br>

    <form action="/add-to-data" method="post">

        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control"
            id="username" name="username">
        </div>
       <div>
            <label for="firstname">First Name</label>
            <input type="text" class="form-control"
            id="firstname" name="firstname">
        </div>
       <div>
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control"
            id="lastname" name="lastname">
        </div>
       <div>
            <label for="email">Email</label>
            <input type="text" class="form-control"
            id="email" name="email">
        </div>
       <div>
            <label for="altemail">Alt Email</label>
            <input type="text" class="form-control"
            id="altemail" name="altemail">
        </div>
       <div>
            <label for="password">Password</label>
            <input type="text" class="form-control"
            id="password" name="password">
        </div>
       <div>
            <label for="mobile">Mobile</label>
            <input type="text" class="form-control"
            id="mobile" name="mobile">
        </div>
       <div>
            <label for="gender">Gender</label>
            <input type="text" class="form-control"
            id="gender" name="gender">
        </div>
       <div>
            <label for="idcard">ID Card</label>
            <input type="text" class="form-control"
            id="idcard" name="idcard">
        </div>
       <div>
            <label for="dob">D.O.B</label>
            <input type="text" class="form-control"
            id="dob" name="dob">
        </div>
       <div>
            <label for="city">City</label>
            <input type="text" class="form-control"
            id="city" name="city">
        </div>
       <div>
            <label for="country">Country</label>
            <input type="text" class="form-control"
            id="country" name="country">
        </div>
       <div>
            <label for="marital">Marital</label>
            <input type="text" class="form-control"
            id="marital" name="marital">
        </div>

    </form>

</div>