<h1>HOME PAGE!</h1>

<link rel="stylesheet" href="css/home.css">    

</head>   

<div style="padding: 50px">

    <a id="button" href="/visitor">I AM A VISITOR</a> 
    <a id="button" href="/account">I AM A STUDENT</a> 
    <a id="button" href="/dashboard">I AM A TEACHER</a> 

</div>