<h2>HOME PAGE!</h2>

<link rel="stylesheet" href="css/home.css">    

</head>   

<div class="wrapper">

    <a id="button" href="/visitor">I AM A VISITOR</a> 
    <a id="button" href="/account">I AM A STUDENT</a> 
    <a id="button" href="/dashboard">I AM A TEACHER</a> 
    <br>

</div>