
<div>
    <div class="output"></div>
    <button class="btn1">Load File</button>
    <button class="btn2">Clear Display</button>

</div>

<div>
    <br>
    <p>MongoDb Database Setup</p>
    <br>
    <img width="90%" src="/images/mongodbdatabase.png">
    <br>
    <br>
    <p>Json Raw Database Setup</p>
    <br>
    <img width="90%" src="/images/userdata.png">
    <br>
</div>
        
<script src="js/settings.js"></script>