<link rel="stylesheet" href="css/sitemap.css">

<section class="section1">

    <table>
        <tr><br>
            <p>Overall Structure</p> 
            <td><p>idcard</p></td>
            <td><p>firstname</p></td>
            <td><p>lastname</p></td>
            <td><p>age</p></td>
            <td><p>gender</p></td>
            <td><p>race</p></td>
            </tr>
        </tr>
        <tr>
            <td><p>student</p></td>
            <td><p>teacher</p></td>
            <td><p>subject</p></td>
            <td><p>class</p></td>
            <td><p>scheduling</p></td>
            <td><p>books</p></td>
        </tr>
            <td><p>refeerences</p></td>
            <td><p>vidoes</p></td>
            <td><p>exercises</p></td>
            <td><p>quiz</p></td>
            <td><p>midterm</p></td>
            <td><p>finalterm</p></td>
        </tr>
            <td><p>report</p></td>
            <td><p>attendance</p></td>
            <td><p>interaction</p></td>
            <td><p>extraactivity</p></td>
            <td><p>socialwork</p></td>
            <td><p>creativity</p></td>
        </tr>
    </table>
</section>
        
<section class="section1">
    
    <table>
        <br><tr>
            <p>Teachers</p>    
            <td><p>marital</p></td>
            <td><p>qualifications</p></td>
            <td><p>certifications</p></td>
            <td><p>traits</p></td>
        </tr>
    </table>
    
    <table>
        <br><tr>
            <p>Books</p>    
            <td><p>title</p></td>
            <td><p>author</p></td>
            <td><p>publisher</p></td>
            <td><p>yearpublish</p></td>
            <td><p>pages</p></td>
            <td><p>languages</p></td>
            <td><p>class</p></td>
            <td><p>subject</p></td>
        </tr>
    </table>
    
    <table>
        <br><tr>
            <p>Subject</p>    
            <td><p>level</p></td>
            <td><p>minstudents</p></td>
            <td><p>maxstudents</p></td>
            <td><p>subjectexpert</p></td>
            <td><p>prerequisite</p></td>
            <td><p>books</p></td>
            <td><p>videos</p></td>
            <td><p>references</p></td>
            <td><p>minage</p></td>
        </tr>
    </table>
    
    <table>
        <br><tr>
            <p>Class</p>    
            <td><p>studentidcard</p></td>
            <td><p>teacheridcard</p></td>
            <td><p>subject</p></td>
            <td><p>book</p></td>
            <td><p>schedule</p></td>
            <td><p>duration</p></td>
            <td><p>minstudent</p></td>
            <td><p>maxstudent</p></td>
        </tr>
    </table>
    
    <table>
        <br><tr>
            <p>Scheduling</p>    
            <td><p>class</p></td>
            <td><p>startdate</p></td>
            <td><p>enddate</p></td>
            <td><p>holidays</p></td>
            <td><p>excercises</p></td>
            <td><p>quizzes</p></td>
            <td><p>eams</p></td>
        </tr>
    </table>
    

    <table>
        <br><tr>
            <p>1</p>    
            <td><p>1</p></td>
            <td><p>1</p></td>
            <td><p>1</p></td>
            <td><p>1</p></td>
            <td><p>1</p></td>
            <td><p>1</p></td>
        </tr>
    </table>
</section>
 