<h1>TEST</h1>

<p>Total Data Size Population:</p>
<p id="demo1"></p>
<p>Sample size:</p>
<p id="demo2"></p>
<p>Unsorted data generation time in seconds:</p>
<p id="demo3"></p>
<p>SORTED data generation time in seconds:</p>
<p id="demo4"></p>
<p>Random Index Check:</p>
<p id="demo5"></p>
<p>Random Index Location Check Process Time:</p>
<p id="demo6"></p>

<script src="js/test.js"></script>