 
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" href="css/homelogin.css">    
</head> 

<body>    
    <h2 class="simple">Login Page</h2><br>

    <div class="login">    
   
        <label>
            <b>User Name</b>
        </label>    

        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    

        <label>
            <b>Password</b>    
        </label>
        
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br><br> 
        <a id="mainlogin" href="/home">LOGIN HERE</a> 
    
        <br><br><br>

        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br> 
        
        New Uder <a href="#">REGISTER HERE</a> 
        Forgot <a href="#">Password</a>    
        <br><br>
        <p>NOTE: Click the red button. This is a PoC and MVP purpose site. All Rights Reserve. Architecture, Backend and Framework ideas has been designed. Spirit in 
        in the "About" page.
        </p>
   
</div>    
</body>    
