.wrapper{
    font-family: 'Century Gothic',sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    max-width: 90%;
    max-height: 600px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
  }

  .text{
    font-size: 20px;
  }

.datetime{
    font-size: 1rem;
}
