<h1>Account Settings</h1>

<link rel="stylesheet" href="css/account.css" />

<div class="wrapper" >

    <table>
        
        <tr>
            <td><p>Passwword</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>
        
        <tr>
            <td><p>Email</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>
        
        <tr>
            <td><p>Address</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>

        
        <tr>
            <td><p>Phone Number</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>
        
        <tr>
            <td><p>Payment Details</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>
        
        <tr>
            <td><p>Profile Photo</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>
        
        
        <tr>
            <td><p>List Of Devices</p></td>
            <td><button type="button" class="btn-sm btn-danger">Edit</button></td>
        </tr>

    </table>

</div>