
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <div style="padding: 10px">

        <div class="container.md">
                <h1>LEGEND GUIDE</h1>
                <h2>54 Steps to Life Learning</h2>
                <button type="button" class="btn btn-lg btn-secondary">NOT APPLICABLE</button>
                <button type="button" class="btn btn-lg btn-success">COMPLETED</button>
                <button type="button" class="btn btn-lg btn-primary">IN PROGRESS</button>
                <button type="button" class="btn btn-lg btn-info">NEXT</button>
                <button type="button" class="btn btn-lg btn-danger">LEARN</button>
                <button type="button" class="btn btn-lg btn-warning">FUTURE</button>
        </div>

        <div class="container.md">
                <h1>PREE SCHOOL- Age 4 to Age 6</h1>
                <button type="button" class="btn btn-lg btn-secondary">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-secondary">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-secondary">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-secondary">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-secondary">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-secondary">Y2 S3</button>
                <button type="button" class="btn btn-lg btn-secondary">Y3 S1</button>
                <button type="button" class="btn btn-lg btn-secondary">Y3 S2</button>
                <button type="button" class="btn btn-lg btn-secondary">Y3 S3</button>
        </div>

        <div class="container.md">
                <h1>ELEMENTARY- Age 7 to Age 9 </h1>
                <button type="button" class="btn btn-lg btn-secondary">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-secondary">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-secondary">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-secondary">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-secondary">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-secondary">Y2 S3</button>
                <button type="button" class="btn btn-lg btn-secondary">Y3 S1</button>
                <button type="button" class="btn btn-lg btn-secondary">Y3 S2</button>
                <button type="button" class="btn btn-lg btn-secondary">Y3 S3</button>
        </div>

        <div class="container.md">
        <h1>PRIMARY- Age 10 to Age 12 </h1>
                <button type="button" class="btn btn-lg btn-danger">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-success">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-success">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-danger">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-success">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-success">Y2 S3</button>
                <button type="button" class="btn btn-lg btn-success">Y3 S1</button>
                <button type="button" class="btn btn-lg btn-success">Y3 S2</button>
                <button type="button" class="btn btn-lg btn-primary">Y3 S3</button>
        </div>

        <div class="container.md">
        <h1>SENIOR HIGH- Age 16 to Age 17 </h1>
                <button type="button" class="btn btn-lg btn-info">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-info">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S3</button>
        </div>
        
        <div class="container.md">
        <h1>DIPLOMA- Age 18 to Age 20 </h1>
                <button type="button" class="btn btn-lg btn-warning">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S3</button>
                <button type="button" class="btn btn-lg btn-warning">Y3 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y3 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y3 S3</button>
        </div>

        <div class="container.md">
        <h1>DEGREE- Age 21 to Age 22 </h1>
                <button type="button" class="btn btn-lg btn-warning">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S3</button>
        </div>

        <div class="container.md">
        <h1>MASTERS- Age 23 to Age 24  </h1>
                <button type="button" class="btn btn-lg btn-warning">Y1 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y1 S3</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S1</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S2</button>
                <button type="button" class="btn btn-lg btn-warning">Y2 S3</button>
        </div>

        </div>