<script src="https://kit.fontawesome.com/3d16bc58f3.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/email.css" />

<div class="zero">

        <div class="one">
        <ul>
        <h3><button = class="fa-solid fa-calendar"></button></h3>
        <h3><button = class="fa-solid fa-box"> </button></h3>
        <h3><button = class="fa-solid fa-book"> </button></h3>
        <h3><button = class="fa-solid fa-baseball"> </button></h3>
        <h3><button = class="fa-solid fa-bars-progress"> </button></h3>
        <h3><button = class="fa-solid fa-bandage"> </button></h3>
        <h3><button = class="fa-solid fa-audio-description"> </button></h3>
        <h3><button = class="fa-solid fa-atom"> </button></h3>
        <h3><button = class="fa-solid fa-arrow-alt-circle-up"> </button></h3>
        <h3><button = class="fa-solid fa-address-book"> </button></h3>
</ul>
        </div>

        <div class="two">
                
                <div class="six">

                        <div class="seven">
                        <h3><button = class="fa-solid fa-chart-area"> </button></h3>
                        </div>

                        <div class="seven">
                        <h3><button = class="fa-solid fa-building"> </button></h3>
                        </div>

                        <div class="seven">
                        <h3><button = class="fa-solid fa-building"></button></h3>
                        </div>

                        <div class="seven">
                        <h3><button = class="fa-solid fa-building"></button></h3>
                        </div>

                </div>
                 
                <div class="twoA">
                <ul>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                <h4><strong> Lorem ipsum dolor sit amet</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
                </ul>
                </div>
        </div>

        <div class="three">

                <div class="four">

                        <div class="five">
                        <h3><button = class="fa-solid fa-building"> </button></h3>
                        </div>

                        <div class="five">
                        <h3><button = class="fa-solid fa-building"> </button></h3>
                        </div>

                        <div class="five">
                        <h3><button = class="fa-solid fa-building"> </button></h3>
                        </div>

                        <div class="five">
                        <h3><button = class="fa-solid fa-circle-arrow-up"> </button></h3>
                        </div>
                
                        <div class="five">
                        <h3><button = class="fa-solid fa-circle-arrow-down"> </button></h3>
                        </div>

                </div>

        <div class="threeA">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia accusantium, cum cupiditate commodi sit sint, eum maxime nihil veniam dolore inventore, fugiat quibusdam repellat repellendus deserunt quasi perspiciatis saepe fuga neque! Suscipit, in quia? Qui asperiores eum temporibus nisi.</p>
               
        </div>
        
        </div>
</div>

