<link rel="stylesheet" href="css/messaging.css" />

<div class="container">

<!-- LEFT BAR TOP-->

<div class="col-md-4 border-right">
	<div class="settings-tray">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/filip.jpg">
		<span class="settings-tray--right">
		<i class="material-icons">cached message</i>
		</span>
	</div>

	<div class="search-box">
		<div class="input-wrapper">
			<i class="material-icons">S-0789-Y3-S2-C17</i>
			<input placeholder="Search here" type="text">
		</div>
	</div>

	<!-- LEFT BAR FRIENDS DRAWER-->

	<hr>
	<div class="friend-drawer">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
			<div class="text">
				<h6>Karen Candoit</h6>
				<p class="text-muted">STATUS: Preparing for exams:</p>
			</div>
		<span class="time text-muted small">13:21</span>
	</div><hr>

	<div class="friend-drawer">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/optimus-prime.jpeg" alt="">
			<div class="text">
				<h6>Raymond Lewis</h6>
				<p class="text-muted">STATUS: Chilling at hometown.</p>
			</div>
		<span class="time text-muted small">00:32</span>
	</div><hr>

	<div class="friend-drawer">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/real-terminator.png" alt="">
		<div class="text">
			<h6>Ronnie Adams</h6>
			<p class="text-muted">STATUS; Driving back to college?</p>
		</div>
		<span class="time text-muted small">13:21</span>
	</div><hr>

	<div class="friend-drawer">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/termy.jpg" alt="">
			<div class="text">
				<h6>Freddy Terry</h6>
				<p class="text-muted">STATUS: Do not disturb</p>
			</div>
		<span class="time text-muted small">13:21</span>
	</div><hr>

	<div class="friend-drawer">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/rick.jpg" alt="">
			<div class="text">
				<h6>Alia Tebeck</h6>
				<p class="text-muted">STATUS: Anyone up for drinks ?</p>
			</div>
		<span class="time text-muted small">13:21</span>
	</div><hr>

	<div class="friend-drawer">
		<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/rachel.jpeg" alt="">
			<div class="text">
				<h6>Jonathan Drake</h6>
				<p class="text-muted">STATUS: Doing some thing big...</p>
			</div>
		<span class="time text-muted small">13:21</span>
	</div><hr>
</div>

<!-- RIGHR BAR -->

<div class="col-md-8">

	<div class="settings-tray">
		<div class="friend-drawer no-gutters friend-drawer--grey">
			<div class="text">
					<h6>Jonathan Drake</h6>
				<p class="text-muted">....... whatever </p>
			</div>
			<span class="settings-tray--right"></span>
		</div>
	</div>

	<div class="settings-tray">
		<div class="friend-drawer no-gutters friend-drawer--grey">
			<div class="text">
				<h6>Alia Tebeck</h6>
				<p class="text-muted">Not going to make it on time </p>
			</div>
			<span class="settings-tray--right"></span>
		</div>
	</div>	

	<div class="settings-tray">
		<div class="friend-drawer no-gutters friend-drawer--grey">
			<div class="text">
				<h6>Freddy Terry</h6>
				<p class="text-muted">Yeah, touchest maonth ever</p>
			</div>
			<span class="settings-tray--right"></span>
		</div>
	</div>	


	<div class="settings-tray">
		<div class="friend-drawer no-gutters friend-drawer--grey">
			<div class="text">
				<h6>Karen Candoit</h6>
				<p class="text-muted">I have no clue what last semester was all about</p>
			</div>
			<span class="settings-tray--right"></span>
		</div>
	</div>	

	<div class="settings-tray">
		<div class="friend-drawer no-gutters friend-drawer--grey">
			<div class="text">
				<h6>Raymond Lewis</h6>
				<p class="text-muted">Will be busy catching up before semester starts.</p>
			</div>
			<span class="settings-tray--right"></span>
		</div>
	</div>	

	<div class="settings-tray">
		<div class="friend-drawer friend-drawer--grey">
			<div class="text">
				<h6>John Doe</h6>
				<p class="text-muted">See you guys next week in class</p>
			</div>
			<span class="settings-tray--right"></span>
		</div>
	</div>	

	<div class="row">
		<div class="col-12">
			<div class="chat-box-tray">
				<input type="text" placeholder="Type your message here...">
			</div>
		</div>
	</div>
	
</div>


  