<h2>SEMESTER VIEW</h2>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/progress.css">

<div style="padding: 5px">

    <div class="container">
            <h2>Week 1</h2>
            <a href="#" class="btn btn-info" role="button">Introduction</a>
            <a href="#" class="btn btn-info" role="button">Textbook</a>
            <a href="#" class="btn btn-info" role="button">Reference Book</a>
            <a href="#" class="btn btn-info" role="button">Video Presentation</a>
            <a href="#" class="btn btn-info" role="button">Attend Class</a>
            <a href="#" class="btn btn-info" role="button">Assignments </a>
            <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
            <a href="#" class="btn btn-info" role="button">Quizzes</a>
            <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
            <a href="#" class="btn btn-info" role="button">Final Exam</a>
    </div>
    <div class="container">
        <h2>Week 2</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
    </div>
    <div class="container">
        <h2>Week 3</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
    <div class="container">
        <h2>Week 4</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
    </div>
    <div class="container">
        <h2>Week 5</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
    <h2>Week 6</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
    <h2>Week 7</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
    <h2>Week 8</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
    <h2>Week 9</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
<h2>Week 10</h2>
<a href="#" class="btn btn-info" role="button">Introduction</a>
<a href="#" class="btn btn-info" role="button">Textbook</a>
<a href="#" class="btn btn-info" role="button">Reference Book</a>
<a href="#" class="btn btn-info" role="button">Video Presentation</a>
<a href="#" class="btn btn-info" role="button">Attend Class</a>
<a href="#" class="btn btn-info" role="button">Assignments </a>
<a href="#" class="btn btn-info" role="button">Practice Exercises</a>
<a href="#" class="btn btn-info" role="button">Quizzes</a>
<a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
<a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
<h2>Week 11</h2>
<a href="#" class="btn btn-info" role="button">Introduction</a>
<a href="#" class="btn btn-info" role="button">Textbook</a>
<a href="#" class="btn btn-info" role="button">Reference Book</a>
<a href="#" class="btn btn-info" role="button">Video Presentation</a>
<a href="#" class="btn btn-info" role="button">Attend Class</a>
<a href="#" class="btn btn-info" role="button">Assignments </a>
<a href="#" class="btn btn-info" role="button">Practice Exercises</a>
<a href="#" class="btn btn-info" role="button">Quizzes</a>
<a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
<a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container">
<h2>Week 12</h2>
<a href="#" class="btn btn-info" role="button">Introduction</a>
<a href="#" class="btn btn-info" role="button">Textbook</a>
<a href="#" class="btn btn-info" role="button">Reference Book</a>
<a href="#" class="btn btn-info" role="button">Video Presentation</a>
<a href="#" class="btn btn-info" role="button">Attend Class</a>
<a href="#" class="btn btn-info" role="button">Assignments </a>
<a href="#" class="btn btn-info" role="button">Practice Exercises</a>
<a href="#" class="btn btn-info" role="button">Quizzes</a>
<a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
<a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
</div>