<h1>SEMESTER VIEW</h1>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div style="padding: 5px">

    <div class="container.md">
            <h2>Week 1</h2>
            <a href="#" class="btn btn-info" role="button">Introduction</a>
            <a href="#" class="btn btn-info" role="button">Textbook</a>
            <a href="#" class="btn btn-info" role="button">Reference Book</a>
            <a href="#" class="btn btn-info" role="button">Video Presentation</a>
            <a href="#" class="btn btn-info" role="button">Attend Class</a>
            <a href="#" class="btn btn-info" role="button">Assignments </a>
            <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
            <a href="#" class="btn btn-info" role="button">Quizzes</a>
            <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
            <a href="#" class="btn btn-info" role="button">Final Exam</a>
    </div>
    <div class="container.md">
        <h2>Week 2</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
    </div>
    <div class="container.md">
        <h2>Week 3</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
    <div class="container.md">
        <h2>Week 4</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
    </div>
    <div class="container.md">
        <h2>Week 5</h2>
        <a href="#" class="btn btn-info" role="button">Introduction</a>
        <a href="#" class="btn btn-info" role="button">Textbook</a>
        <a href="#" class="btn btn-info" role="button">Reference Book</a>
        <a href="#" class="btn btn-info" role="button">Video Presentation</a>
        <a href="#" class="btn btn-info" role="button">Attend Class</a>
        <a href="#" class="btn btn-info" role="button">Assignments </a>
        <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
        <a href="#" class="btn btn-info" role="button">Quizzes</a>
        <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
        <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
    <h2>Week 6</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
    <h2>Week 7</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
    <h2>Week 8</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
    <h2>Week 9</h2>
    <a href="#" class="btn btn-info" role="button">Introduction</a>
    <a href="#" class="btn btn-info" role="button">Textbook</a>
    <a href="#" class="btn btn-info" role="button">Reference Book</a>
    <a href="#" class="btn btn-info" role="button">Video Presentation</a>
    <a href="#" class="btn btn-info" role="button">Attend Class</a>
    <a href="#" class="btn btn-info" role="button">Assignments </a>
    <a href="#" class="btn btn-info" role="button">Practice Exercises</a>
    <a href="#" class="btn btn-info" role="button">Quizzes</a>
    <a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
    <a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
<h2>Week 10</h2>
<a href="#" class="btn btn-info" role="button">Introduction</a>
<a href="#" class="btn btn-info" role="button">Textbook</a>
<a href="#" class="btn btn-info" role="button">Reference Book</a>
<a href="#" class="btn btn-info" role="button">Video Presentation</a>
<a href="#" class="btn btn-info" role="button">Attend Class</a>
<a href="#" class="btn btn-info" role="button">Assignments </a>
<a href="#" class="btn btn-info" role="button">Practice Exercises</a>
<a href="#" class="btn btn-info" role="button">Quizzes</a>
<a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
<a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
<h2>Week 11</h2>
<a href="#" class="btn btn-info" role="button">Introduction</a>
<a href="#" class="btn btn-info" role="button">Textbook</a>
<a href="#" class="btn btn-info" role="button">Reference Book</a>
<a href="#" class="btn btn-info" role="button">Video Presentation</a>
<a href="#" class="btn btn-info" role="button">Attend Class</a>
<a href="#" class="btn btn-info" role="button">Assignments </a>
<a href="#" class="btn btn-info" role="button">Practice Exercises</a>
<a href="#" class="btn btn-info" role="button">Quizzes</a>
<a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
<a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
<div class="container.md">
<h2>Week 12</h2>
<a href="#" class="btn btn-info" role="button">Introduction</a>
<a href="#" class="btn btn-info" role="button">Textbook</a>
<a href="#" class="btn btn-info" role="button">Reference Book</a>
<a href="#" class="btn btn-info" role="button">Video Presentation</a>
<a href="#" class="btn btn-info" role="button">Attend Class</a>
<a href="#" class="btn btn-info" role="button">Assignments </a>
<a href="#" class="btn btn-info" role="button">Practice Exercises</a>
<a href="#" class="btn btn-info" role="button">Quizzes</a>
<a href="#" class="btn btn-info" role="button">Mid Term Exam</a>
<a href="#" class="btn btn-info" role="button">Final Exam</a>
</div>
</div>