<link rel="stylesheet" href="css/registration.css" />

<h1>REGISTRATION PAGE</h1>

 <div class="wrapper">

 <input type="text" name="Uname" id="Uname" placeholder="Username"><br>
 <input type="text" name="Uname" id="Uname" placeholder="First Name"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Email "><br>
 <input type="text" name="Uname" id="Uname" placeholder="Alt Email"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Password"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Reconfirm Password"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Mobile Number: +603 012 345 7890"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Gender"><br>
 <input type="text" name="Uname" id="Uname" placeholder="IC Number"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Date of Birth"><br>
 <input type="text" name="Uname" id="Uname" placeholder="City"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Country"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Marital Status"><br>
 <input type="text" name="Uname" id="Uname" placeholder="Highest Qualification"><br>

 <input type="checkbox" id="check">    
 <span>I confirm that all information provides is cirrect and accurate</span>    
 <input type="button" name="log" id="log" value="Register Me">       
        
</div>
