<h3>CLOUD STORAGE</h3>

<link rel="stylesheet" href="css/storage.css" />

<div class = "wrappertop">

    <div class = "wrapper">

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">YEAR</a> 
        </div>

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">SEMESTER</a> 
        </div>

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">SUBJECT</a> 
        </div>

    </div>

    <div class = "wrapper">

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">WEEK</a> 
        </div>

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">TEXTBOOK</a> 
        </div>

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">REFERENCES</a> 
        </div>

    </div>

    <div class = "wrapper">

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">VIDEOS</a> 
        </div>

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">WORKS</a> 
        </div>

        <div class = "img-with-text">
            <img class="folder" src="images/folder2.png" alt="" />
            <a id="folder" href="#">EXCERCISES</a> 
        </div>

    </div>

</div>